.modal {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%);
  min-width: 400px;
  padding: 2rem;
  background-color: var(--modal-background-dark);
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 0.3125rem;

  @media (prefers-color-scheme: light) {
    background-color: var(--modal-background-light);
  }

  > a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;

    > img {
      cursor: pointer;
      margin-left: 1rem;
    }
  }
}
