.stepperWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 45px;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.15);
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Roboto Mono", monospace;
    font-weight: 600;
    width: 210px;

    input[type="number"] {
      -moz-appearance: textfield;
      text-align: center;
      font-size: 40px;
      border: none;
      background-color: #ffffff;
      color: #202030;
      font-weight: 600;

      &:focus {
        outline: none;
      }
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    button.decrement,
    button.increment {
      background-color: #ffffff;
      border: none;
      font-size: 40px;
      cursor: pointer;
      font-weight: 600;
    }

    .decrement {
      padding: 15px 5px 15px 25px;
      border-radius: 45px 0 0 45px;
    }

    .increment {
      padding: 15px 25px 15px 5px;
      border-radius: 0 45px 45px 0;
    }
  }

  .stepperError {
    color: red;
    height: 25px;
  }
}
