.header {
  height: 4rem;
  width: 100%;
  padding: 0 2rem;
  margin: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bolder;
  text-transform: uppercase;

  @media screen and (max-width: 425px) {
    justify-content: center;
    flex-direction: column;
  }

  .gradient_one {
    background: var(--gradient-one);
  }

  .gradient_text {
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-size: 3rem;
  }

  .logo_container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    a {
      cursor: pointer;
      margin: 0 0.5rem;

      @media screen and (max-width: 425px) {
        font-size: 1.5rem;
      }

      &:hover {
        color: rgb(176, 176, 176);
      }
    }
  }
}
