.header {
  height: 4rem;
  width: 100%;
  padding: 0 2rem;
  margin: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bolder;
  text-transform: uppercase;

  @media screen and (max-width: 425px) {
    justify-content: center;
  }

  .gradient_one {
    background: var(--gradient-one);
  }

  .gradient_text {
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-size: 3rem;
  }

  .logo_container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    @media screen and (max-width: 425px) {
      display: none;
    }

    .menu_items {
      margin: 0 1rem;

      a {
        cursor: pointer;
        margin: 0 0.5rem;

        &:hover {
          color: rgb(176, 176, 176);
        }
      }
    }
  }
}
