:root {
  --background: linear-gradient(
    to bottom,
    #000000,
    #000428,
    rgb(32, 34, 37),
    #004e92
  );
  --gradient-one: linear-gradient(
    60deg,
    #f79533,
    #f37055,
    #ef4e7b,
    #a166ab,
    #5073b8,
    #1098ad,
    #07b39b,
    #6fba82
  );
  --gradient-two: linear-gradient(to right, #00dbde, #fc00ff);
  --gradient-three: linear-gradient(
    to right,
    #25aae1,
    #4481eb,
    #04befe,
    #3f86ed
  );
  --font-family: "Roboto", sans-serif;
  --default-font-size: 16px;
  --xs-font-size: 10px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  /** Root Font size */
  font-size: var(--default-font-size);
  background-color: var(--background);

  /* Responsive layout - Changing the font on mobile screens */
  @media screen and (max-width: 800px) {
    font-size: var(--xs-font-size);
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: var(--background);
  }
}
