.main {
  min-height: 100vh;
  padding: 4rem 2rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.parallax {
  /* The image used */
  background-image: url("/hero-2.png");

  /* Set a specific height */
  min-height: 600px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat;
  display: none;
  justify-content: center;
  align-items: center;
  font-size: 4rem;

  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 1rem;
  border-top: 1px solid #eaeaea;
  justify-content: space-between;
  align-items: center;

  .logo_container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    img {
      margin: 0 0.5rem;
      cursor: pointer;

      @media screen and (max-width: 768px) {
        width: 2.5rem;
        height: 2.5rem;
      }
    }

    .developer {
      filter: invert(1);
    }
  }

  .copyright {
    font-size: 0.75rem;
  }
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.about,
.inspiration {
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  > p {
    align-self: flex-start;
  }

  @media screen and (min-width: 768px) {
    width: 60%;
    font-size: 0.9rem;
  }
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.mint__form {
  display: flex;
  flex-direction: column;
}

.limit__reached {
  font-size: 1.3rem;
  background: var(--gradient-five);
}

.gradient_two {
  background: var(--gradient-two);
}

.gradient_four {
  background: var(--gradient-four);
}

.gradient_text {
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.metamask__button {
  margin: 20px;
  height: 55px;
  border: none;
  padding: 0.8em 2.5em;
  outline: none;
  color: white;
  position: relative;
  z-index: 1;
  cursor: pointer;
  background: none;
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.45);
  font-size: 1rem;

  &:before,
  &:after {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 10em;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: 105%;
    height: 105%;
    content: "";
    z-index: -2;
    background-size: 400% 400%;
    background: var(--gradient-one);
  }

  &:before {
    -webkit-filter: blur(7px);
    filter: blur(7px);
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    -webkit-animation: pulse 10s infinite ease;
    animation: pulse 10s infinite ease;
  }

  &:after {
    -webkit-filter: blur(0.3px);
    filter: blur(0.3px);
  }

  &:hover:before {
    width: 115%;
    height: 115%;
  }
}

.mint__button {
  width: 160px;
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  height: 55px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  background-image: var(--gradient-three);
  box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);

  &:disabled {
    cursor: not-allowed !important;
    opacity: 0.3;
  }

  &:hover {
    background-position: 100% 0;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }

  &:focus {
    outline: none;
  }
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
